<footer class="footer-x mt-5 pt-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-4">
        <h5 class="text-white"><i class="fa-solid fa-camera text-orange"></i> عدسة</h5>
        <p class="text-muted small">
          مدونة متخصصة في فن التصوير الفوتوغرافي، نشارك معكم أسرار المحترفين ونصائح عملية.
        </p>
        <div class="d-flex gap-3 fs-5">
          <a href="#" class="soc"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="#" class="soc"><i class="fa-brands fa-github"></i></a>
          <a href="#" class="soc"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#" class="soc"><i class="fa-brands fa-youtube"></i></a>
        </div>
      </div>
      <div class="col-6 col-md-2">
        <h6 class="text-white">استكشف</h6>
        <ul class="list-unstyled small">
          <li><a class="link-x" routerLink="/">الرئيسية</a></li>
          <li><a class="link-x" routerLink="/blog">المدونة</a></li>
          <li><a class="link-x" routerLink="/about">من نحن</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-2">
        <h6 class="text-white">التصنيفات</h6>
        <ul class="list-unstyled small">
          <li><a class="link-x" routerLink="/blog">إضاءة</a></li>
          <li><a class="link-x" routerLink="/blog">بورتريه</a></li>
          <li><a class="link-x" routerLink="/blog">مناظر طبيعية</a></li>
          <li><a class="link-x" routerLink="/blog">تقنيات</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6 class="text-white">ابقَ على اطلاع</h6>
        <input
          class="form-control form-control-sm mb-2 input-x"
          placeholder="أدخل بريدك الإلكتروني"
        />
        <button class="btn btn-orange btn-sm w-100">اشترك</button>
      </div>
    </div>
    <p class="text-center text-muted small border-top border-secondary mt-4 py-3">
      © 2026 عدسة. جميع الحقوق محفوظة
    </p>
  </div>
</footer>
